body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
.wrapper {
  width: 1000px;
  text-align: center;
  border: 1px solid rgb(158, 155, 155);
  border-radius: 25px;
  /* background: url(https://img.freepik.com/premium-photo/rain-drop-falling-onto-blackboard-with-green-nature-background_34152-328.jpg?w=2000); */
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  background-size: 100%;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.search {
  width: 800px;
  padding: 10px 10px;
  margin-top: 25px;
  border-radius: 10px;
  box-shadow: 5px 2px 10px gray;
}
.search-btn {
  padding: 9.5px;
  margin-left: 20px;
  border-radius: 10px;
}
.search-btn:hover {
  background-color: transparent;
  color: white;
  border: 2px solid #fff;
}
.main {
  display: flex;
}
.location {
  margin: 15px 750px 0 0;
  cursor: pointer;
}
.head {
  font-size: 50px;
  font-weight: 700;
  padding: 50px 20px;
}
.time-head {
  font-size: 80px;
  padding-right: 105px;
  font-weight: 700;
}
.description {
  text-transform: capitalize;
}
.main-list {
  font-size: 25px;
  text-align: justify;
  margin-top: 15px;
}
.degrees {
  font-size: 40px;
  font-weight: 700;
}
.degrees .active {
  color: black;
  cursor: default;
}
.degrees .active:hover {
  text-decoration: none;
}
.format-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.day-week {
  background-color: #fff5fb;
  color: #3c1053;
  box-shadow: 5px 2px 10px gray;
  cursor: pointer;
}
.day-week:hover {
  background-color: transparent;
  box-shadow: 5px 2px 10px gray;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 900;
}
.first {
  border-radius: 0 0 0 25px;
}
.last {
  border-radius: 0 0 25px 0;
}
footer {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  color: black;
  text-align: center;
  margin-top: 10px;
}
